.nav-text {
  font-size: 1.2rem;
}
.logo {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 1.9rem !important;
}
.nav-icons {
  display: flex;
  align-items: centre;
  font-size: 24px;
}
.badge {
  font-size: 28px !important;
}
.badge:after {
  content: attr(value);
  font-size: 18px;
  color: #fff;
  background: #0d6efd;
  border-radius: 50%;
  padding: 0 5px;
  position: relative;
  left: -8px;
  top: -10px;
  opacity: 0.9;
}

/* Small devices (Phones, 600pxand down) -- this would display the text at 5.0rem on phones */

@media only screen and (max-width: 600px) {
  .nav-text {
    font-size: 1rem;
  }
}
