body {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}
footer {
  margin: auto 0;
}

.page-footer {
  background-color: black;
  color: white;
}

footer a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

footer a:hover {
  color: aqua;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  align-items: flex-end;
}
