.details-container {
  font-family: Franklin Gothic Medium ", " Arial Narrow, Arial, sans-serif;
}

.sml-img {
  width: 208px;
  cursor: pointer;
}

.prod {
  height: 200px;
  width: 250px;
  background-position: contain;
}
.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid black;
}

@media screen and (max-width: 800px) {
  .sml-img {
    width: 116px;
  }
  .image {
    width: 350px;
    cursor: pointer;
  }
}
