.details-container {
  font-family: Franklin Gothic Medium ", " Arial Narrow, Arial, sans-serif;
}

.sml-img {
  width: 208px;
}

.prod {
  height: 200px;
  width: 250px;
  background-position: contain;
}


@media screen and (max-width: 800px) {
  .sml-img {
    width: 116px;
  }
  .image {
    width: 350px;
  }
}
